@page
@model PermissionHub.Pages.Modules.Budget.IndexModel;

<h2>Budget Dashboard</h2>

<a class="btn btn-primary"
   asp-page="Create">
   + Create Budget
</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Amount</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var b in Model.Budgets)
        {
            <tr>
                <td>@b.Title</td>
                <td>@b.Amount</td>
            </tr>
        }
    </tbody>
</table>