@page
@model PermissionHub.Pages.UserRoles.AssignModel

<h2>Assign Role</h2>

<form method="post">

    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="CompanyId" />

    <div class="mb-3">
        <label>Role</label>

        <select asp-for="RoleId" class="form-control">

            <option value="">
                -- Select Role --
            </option>

            @foreach (var role in Model.Roles)
            {
                <option value="@role.Id">
                    @role.Name
                </option>
            }

        </select>
    </div>

    <button type="submit"
            class="btn btn-primary">
        Assign
    </button>

</form>