@page
@model UsersModel

<h2>Users</h2>

<a class="btn btn-success mb-3" asp-page="Create">
    Create User
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var u in Model.Users)
    {
        <tr>
            <td>@u.FullName</td>
            <td>@u.Email</td>
        </tr>
    }
    </tbody>
</table>