@page
@model IndexModel

<h2>Company List</h2>

<table class="table">
    @foreach (var c in Model.Companies)
    {
        <tr>
            <td>@c.Name</td>

            <td>
                <a asp-page="/Roles/Create"
                   asp-route-companyId="@c.Id">
                    Create Role
                </a>
            </td>
        </tr>
    }
</table>