@page
@model CreateRoleModel
<form method="post">
    <input type="hidden" asp-for="CompanyId" />

    <input asp-for="Name" placeholder="Role Name" />

    <button type="submit">Save</button>
</form>